@import "~bootstrap-less/bootstrap/bootstrap.less";
@import "./switch.less";

html, body {
  height: 100%;
  background-color: #eee;
}

#app {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 10px 0 20px;
}

#footer {
  height: 20px;
  background-color: #f5f5f5;
}

canvas {
  border: 1px solid black;
}